<style>
	h1 {
		text-align: center;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.card-title {
		font-size: 75px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.card-text {
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.month-s {
		font-size: x-large;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}

	.card-body {
		text-align: center;
	}

	.features {
		padding-top: 20px;
	}

	.display-3 {
		padding-bottom: 25px;
	}

	.btn:focus,
	.btn:active {
		outline: none !important;
		box-shadow: none;
	}
</style>



<div class="container-fluid">
	<div class="jumbotron">
		<h1 class="display-3">Payment Plans</h1>
		<div class="row">
			<div class="col-md-4" id="col1">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">$19<span class="month-s">/month</span></h3>
						<h3 class="card-text">Basic Plan</h3>
						<p class="card-text features">Ultimate Features</p>
						<p class="card-text features">Responsive Ready</p>
						<p class="card-text features">Visual Composer Included</p>
						<p class="card-text features">24/7 Support</p>
						<a name="choose-plan" id="b-plan" class="btn btn-primary bg-secondary" href="#"
							role="button">Choose Plan</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 s-plan">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">$29<span class="month-s">/month</span></h3>
						<h3 class="card-text">Special Plan</h3>
						<p class="card-text features">Ultimate Features</p>
						<p class="card-text features">Responsive Ready</p>
						<p class="card-text features">Visual Composer Included</p>
						<p class="card-text features">24/7 Support</p>
						<a name="choose-plan" id="s-plan" class="btn btn-primary bg-secondary" href="#"
							role="button">Choose Plan</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 es-plan">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">$39<span class="month-s">/month</span></h3>
						<h3 class="card-text">Extra Special Plan</h3>
						<p class="card-text features">Ultimate Features</p>
						<p class="card-text features">Responsive Ready</p>
						<p class="card-text features">Visual Composer Included</p>
						<p class="card-text features">24/7 Support</p>
						<a name="choose-plan" id="es-plan" class="btn btn-primary bg-secondary" href="#"
							role="button">Choose Plan</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
